{% extends 'core/base.html' %}
{% block content %}
<h1 class="page-title">Batch Detail</h1>

<div class="card">
    <p><strong>ID:</strong> {{ batch.id }}</p>
    <p><strong>Name:</strong> {{ batch.name }}</p>
    <p><strong>ZIP:</strong> {{ batch.zip_file_name }}</p>
    <p><strong>Status:</strong> {{ batch.status }}</p>
    <p><strong>Validation:</strong> {{ batch.validation_message }}</p>
    <p><strong>Sync:</strong> {{ batch.sync_message }}</p>
</div>

<div class="button-row">
    <a class="btn-secondary" href="{% url 'batch_history' %}">Back</a>
    <a class="btn-primary" href="{% url 'sync_batch' batch.id %}">Sync Batch</a>
    <a class="btn-danger" href="{% url 'rollback_batch' batch.id %}">Rollback Batch</a>
    <a href="{% url 'delete_batch_data' batch.id %}" class="btn-danger">Delete Batch Files/Data</a>
</div>
{% endblock %}